body {
    margin: 0;
    padding: 0;
    
    /*color: white;*/
}

header {
    padding-top: 10px;
    text-align: center;
    border: solid 1px black;        
    height: 75px;
    margin-top: 10px;

}
#textoP{
    position: absolute;
    width: 300px;
    height: 25px;
    right: 50%;
    padding-left: 5px;

    border: none;
    border:solid 1px #ccc;
    border-radius: 10px;
}

#pesquisa button{

    position: absolute;
    right: 50%;
    border: none;
    background: none;
    top: 24px;
}

#menu{
    position: absolute;
    left: 1.5%;

}
#login{
    position: absolute;
    right: 1.5%;
}

