 body {
    margin: 0;
    padding: 0;
    background: #5D0586;
    
    /*color: white;*/
}
/*aqui começa o cabeçalho*/
header {
    top: 0;
    left: 0;
    position: fixed;
    height: 50px;
    width: 100%;
    background: #11031280;

}

#textoP{
    position: relative;
    width: 300px;
    height: 25px;
    top: -15px;
    left: 45%;
    transform: translateX(-45%);
    padding-left: 10px;
    color: white;
    border:solid 1px #ccc;
    border-radius: 25px;
    background-color: rgb(141, 42, 190);
}

::placeholder { /* Muda a cor do placeholder do cabeçalho*/
    color: rgb(255, 255, 255);
  }

#botaoP{
    position: relative;
    top: -8px;
    left: 35.3%;
    border: none;
    background: none;
}

#imgP{
    position: relative;
    top: 0px;
    left: 0px;
    width: 25px;
}

#menu{
    position: relative;
    width: 50px;
    top: 5px;
    left: 0px;
    border:none;
    background: none;
}

#menu img{
    width: 48px;
}

#login{
    position: relative;
    top: -2px;
    left: 75.5%;
    border:none;
    background: none;
}

#login img{
    top: 0px;
    left: 0px;
    width: 35px;
}

/*aqui termina o cabeçalho*/
#elipseFodase{
    position: absolute;
    width: 1666px;
    height: 850px;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    background: #9917D6;
    border-radius: 50%;
    mix-blend-mode: normal;
    filter: blur(250px);
}

/*aqui começa os destaques*/
#destaques{
    color: white;
    margin: auto;
    margin-top: 15px;
    width: 85%;
    height: 750px;
    
    
}

#destaquesT{
    position: absolute;
    margin-top: 3%;
    height: fit-content;
    font-family: 'Lexend Zetta', sans-serif;
}

#destaquesT img{
    position: relative;
    width: 30px;
    bottom: 75px;
    right: 10%;
}


/*div dentro do destaques*/
#livroDestaque{
    position: absolute;
    top: 225px;
    left: 50%;
    transform: translateX(-50%);

    background: rgba(0, 0, 0, 0.4);
    border-radius: 15px;

}
#livroDestaque img{
    margin-right: 800px;
    width: 300px;
}
