body {
    margin: 0;
    padding: 0;
    background: #5D0586;
    
    /*color: white;*/
}
/*aqui começa o cabeçalho*/
header {
    padding-top: 10px;
    text-align: center;
    height: 40px;
    background: #11031280;
    border: 1px solid #000000;
}

#textoP{
    position: fixed;
    width: 300px;
    height: 25px;
    right: 45%;
    padding-left: 5px;
    color: white;

    border: none;
    border:solid 1px #ccc;
    border-radius: 25px;
    background-color: rgb(141, 42, 190);
}

::placeholder { /* Muda a cor do plaholder do cabeçalho*/
    color: rgb(255, 255, 255);
  }

#pesquisa button{
    position: fixed;
    right: 45.2%;
    border: none;
    background: none;
    top: 13px;

}

#pesquisa img{
    width: 25px;
}

#menu{
    position: fixed;
    width: 50px;
    left: 1%;
    border:none;
    background: none;
}

#menu img{
    width: 48px;
}

#login{
    position: fixed;
    right: 1.5%;
    border:none;
    background: none;
}

#login img{
    width: 35px;
}

/*aqui termina o cabeçalho*/

/*aqui começa os destaques*/
#destaques{
    color: white;
    margin: auto;
    margin-top: 25px;
    border: solid 1px black;
    width: 85%;
    
}
#destaques h1{
    position: relative;
    margin-top: 3%;
    font-family: 'Lexend Zetta', sans-serif;
}

#tracoD{
    position: absolute;
    width: 25px;
    left: 120px;
    top: 120px;
}
/*div dentro do destaques*/
#livroDestaque img{
    margin-left: 300px;
    width: 300px;
}


.elipseFodase{
    position: absolute;
    width: 600px;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;

    background: #9917D6;
    mix-blend-mode: normal;
    filter: blur(250px);
}